{% extends "layouts/base.njk" %}

{% block content %}
    {% include "partials/hero.njk" %}
    {% include "partials/process.njk" %}
    {% include "partials/tools.njk" %}
    {% include "partials/challenges.njk" %}
    {% include "partials/timeline.njk" %}
{% endblock %}
