<nav class="navbar navbar-expand-lg navbar-dark gradient-bg fixed-top">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="#home">
            <i class="fas fa-rocket me-2"></i>
            <strong>KeshavSoft</strong>
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#process">Process</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tools">Tools</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#challenges">Challenges</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#timeline">Timeline</a>
                </li>
            </ul>
            
            <div class="d-flex ms-3">
                <a href="{{ links.github }}" target="_blank" class="text-white me-3">
                    <i class="fab fa-github" style="font-size: 20px;"></i>
                </a>
                <a href="{{ links.linkedin }}" target="_blank" class="text-white">
                    <i class="fab fa-linkedin" style="font-size: 20px;"></i>
                </a>
            </div>
        </div>
    </div>
</nav>
